<div style="background-color: #999">
  <svg
    xmlns="http://www.w3.org/1999/svg"
    style="border: 1px solid black"
    width="600"
    height="600"
    viewBox="0 0 400 400"
  >
    <rect x="10" y="10" width="100" height="80"></rect>
    <foreignObject x="10" y="100" width="80" height="80">
      <xhtml:div
        xmlns="http://www.w3.org/1999/xhtml"
        style="height: 100%; background-color: white; border: 1px solid blue"
      >
        <xhtml:span xmlns="http://www.w3.org/1999/xhtml"
          >bla bla bla</xhtml:span
        >
      </xhtml:div>
    </foreignObject>

    <foreignObject x="10" y="210" width="200" height="200">
      <xhtml:div xmlns="http://www.w3.org/1999/xhtml">
        <video
          xmlns="http://www.w3.org/1999/xhtml"
          width="200"
          controls
          playsinline
          autoplay
          src="http://techslides.com/demos/sample-videos/small.mp4"
          class="css-hack"
        ></video>
      </xhtml:div>
    </foreignObject>
  </svg>
</div>
