<div>
  <p>Parent Component</p>
  <p>toChildData.name: {{ toChildData.name }}</p>
  <p>toChildData.list: {{ toChildData.list }}</p>
  <p>toChildList: {{ toChildList }}</p>
  <button (click)="onClickChange()">Change toChildData</button>
  <button (click)="onClickChangePart()">Change part of toChildData</button>
  <app-child
    [inData]="toChildData"
    [inList]="toChildList"
    (changeData)="changedData($event)"
  ></app-child>

  <p>val={{ val$ | async }}</p>
  <a href="/newtab" target="_blank" rel="opener">新規タブを開く(aタグ)</a>
  <button style="display: block" (click)="onClickNewTabWithPostMessage()">
    新規タブを開く(window.open)+PostMessage
  </button>
  <button style="display: block" (click)="onClickNewTabWithSessionStorage()">
    新規タブを開く(window.open)+SessionStorage
  </button>
  <button style="display: block" (click)="onClickUpdateSessionStorage()">
    SessionStorageの更新
  </button>
  <button style="display: block" (click)="onClickRemoveSessionStorage()">
    SessionStorageの削除
  </button>
</div>
