/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: #888;
  font-family: Cambria, Georgia;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root .css-hack {
    position: fixed;
    border: 1px solid red;
    transform-origin: left top;
    transform: scale(1.5, 1.5);
  }
}
